<p id="notice"><%= notice %></p>

<span>商品列表</span>

<table>
  <thead>
    <tr>
      <th>商品圖片</th>
      <th>商品名稱</th>
      <th>原價</th>
      <th>售價</th>
      <th>庫存</th>
      <th>狀態</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= cover_images(product, choice_first_pic: true, dummy_image: true) %></td>
        <td><%= product.name %></td>
        <td><%= product.list_price %></td>
        <td><%= product.sell_price %></td>
        <td><%= product.stock %></td>
        <td><%= product.status %></td>
        <td><%= link_to '預覽', product %></td>
        <td><%= link_to '編輯', edit_admin_product_path(product) %></td>
        <td><%= link_to '刪除', product, method: :delete, data: { confirm: '確認刪除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增商品', new_admin_product_path %>
