<% if user_signed_in? %>
  <%= link_to '編輯', edit_admin_product_path(@product), class: 'btn-sm btn-success text-light' %>
  <%= link_to '刪除', admin_product_path(@product), method: :delete, data: { confirm: '確認刪除?' }, class: 'btn-sm btn-danger text-white' %>
<% end %>

<div class="d-flex pb-3 pt-3">
  <div class="show-image d-flex flex-wrap">
    <% @product.images.each do |image| %>
      <%#= link_to rails_blob_path(image, disposition: "attachment") do %>
        <%= generate_cover_image image, 100, 100 %>
      <%# end %>
    <% end %>
  </div>
  
  <div class="pl-2">
    <p class="text-break">
      <strong>商品名:</strong>
      <%= @product.name %>
      <small>(貨號: <%= @product.sku %>)</small>
    </p>
    
    <p>
      <strong>定價:</strong>
      <%= @product.list_price %>
    </p>
    
    <% if @product.sell_price %>
      <p>
        <strong>售價:</strong>
        <%= @product.sell_price %> 
      </p>   
    <% end %>
    
    <p>
      <strong>庫存:</strong>
      <%= @product.stock %>
    </p>
  </div>
</div>

<section class="text-break">
  <strong>詳細資料:</strong>
  <p>
    <%= simple_format @product.description %>
  </p>
</section>
